<%= render :partial => "layouts/menu" %>
<div id="admin_liste">

<h1>Liste over nyheder <%= link_to '[Opret nyhed]', new_newsarchive_path %></h1>

<table border="0" cellspacing="0" cellpadding="3">
  <tr>
    <th>ID</th>
	<th>Akt.</th>
	<th>Titel</th>
    <th>Nyhed</th>
    <th>Forfat.</th>
    <th>Link</th>
	<th>Handling</th>
	
  </tr>

<% for newsarchive in @newsarchives %>
  <tr>
	<td class='pos'><%=h newsarchive.id %></td>
	<% 	if newsarchive.active
			@aktiv = '√' 
		else 
			@aktiv = '–' 
		end %>
		
	<td class="pos"><%=link_to @aktiv, :action => 'active', :id => newsarchive.id%></td>
    <td width=150px><%=h newsarchive.title %></td>
    <td width=200px><%=h truncate(newsarchive.text, length = 30, truncate_string = "...") -%></td>
    <td width=50px><%=h newsarchive.author %></td>
    <td width=100px><%=h newsarchive.link %></td>
	
    <td width=120px>
	<%= link_to '[Vis]', newsarchive %>
    <%= link_to '[Ret]', edit_newsarchive_path(newsarchive) %>
    <%= link_to '[Slet]', newsarchive, :confirm => 'Er du sikker?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />


</div>