<%= render :partial => "layouts/menu" %>
<div id="admin_formular">
<h1>New content</h1>

<%= error_messages_for :content %>

<% form_for(@content) do |f| %>

<p><label for="category" class = 'ov'>Kategori</label><br/>
<%= f.select(:category, ['User', 'Editor', 'Public', 'Admin'], {}, :class => 'bruger_kategori') %>
</p>

  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <b>Resource</b><br />
    <%= f.text_field :resource_id %>
  </p>

  <p>
    <b>Resource type</b><br />
    <%= f.text_field :resource_type %>
  </p>

  <p>
    <%= f.submit "[Opret]", :class => 'button'%>
	<%= link_to '[Tilbage]', contents_path %>
  </p>
<% end %>
</div>