<%= render :partial => "layouts/menu" %>
<div id="admin_formular">
<p>
  <b>Navn:</b>
  <%=h @content.name %>
</p>

<p>
  <b>Resource:</b>
  <%=h @content.resource_id %>
</p>

<p>
  <b>Resource type:</b>
  <%=h @content.resource_type %>
</p>


<%= link_to '[Ret]', edit_content_path(@content) %> |
<%= link_to '[Tilbage]', contents_path %>
</div>