<%= render :partial => "layouts/menu" %>
<div id="admin_liste">

<h1>Listing menus <%= link_to '[Ny menu]', new_menu_path %></h1>

<table>
  <tr>
	<th>ID</th>
    <th>Navn</th>
    <th>Titel</th>
    <th>Beskrivelse</th>
    <th>Aktiv</th>
	<th>Handling</th>
  </tr>

<% for menu in @menus %>
  <tr>
	<td><%=h menu.id %></td>
    <td><%=h menu.name %></td>
    <td><%=h menu.title %></td>
    <td><%=h menu.body %></td>
    <td><%=h menu.active %></td>
    <td><%#= link_to '[Vis]', menu %>
    <%= link_to '[Rediger]', edit_menu_path(menu) %>
   <%= link_to '[Slet]', menu, :confirm => 'Er du sikker?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<!-- Total antal timer: <%#= Hour.sum(:number, :conditions => ['user_id = ?', '2']) %> -->

</div>
