<%= render :partial => "layouts/menu" %>
<div id="admin_liste">
<h1>Registrering af timer</h1>

<table>
  <tr>
    <th>Bruger</th>
    <th>Beskrivelse</th>
    <th>Ant.</th>
    <th>Dato</th>
	<th>Handling</th>
  </tr>

<% form_for(@hour) do |f| %>
  <tr>
    <td class='pos'><%= User.find(f.user_id).blogname rescue nil %><%= f.hidden_field(:user_id, :value => current_user.id) %></td>
    <td><%= f.text_field :description, :size => '60', :class => 'felter' %></td>
    <td><%= f.text_field :number, :size => '3', :class => 'center'%></td>
    <td><%= f.date_text_field :date, :order => [:day, :month, :year ]%></td>
    <td><%= f.submit "[Opret]", :class => 'button' %><%= link_to '[Tilbage]', hours_path %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to '[Ny registrering]', new_hour_path %>


</div>