<%= render :partial => "layouts/menu" %>
<div id="admin_liste">
<h1>Timeliste</h1>

<table>
  <tr>
    <th>Bruger</th>
    <th>Beskrivelse</th>
    <th>Ant.</th>
    <th>Dato</th>
	<th>Handling</th>
  </tr>

<% for hour in @hours %>
  <tr>
    <td class='pos'><%=h User.find(hour.user_id).blogname rescue nil %></td>
    <td><%=h hour.description %></td>
    <td class='pos'><%=h hour.number %></td>
    <td><%=h hour.date %></td>
    <td><%= link_to '[Vis]', hour %><%= link_to '[Ret]', edit_hour_path(hour) %><%= link_to '[Slet]', hour, :confirm => 'Er du sikker?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to '[Ny registrering]', new_hour_path %>


</div>