<%= render :partial => "layouts/menu" %>
<div id="admin_formular">

<h1>Tidsregistrering</h1>

<%= error_messages_for :hour %>

<% form_for(@hour) do |f| %>
  <p>
    <b>Bruger <%= current_user.blogname %></b><br />
	<%= f.hidden_field(:user_id, :value => current_user.id) %>   
  </p>

  <p>
    <b>Beskrivelse</b><br />
    <%= f.text_field :description, :size => '60' %>
  </p>

  <p>
    <b>Ant.</b><br />
    <%= f.text_field :number, :size => '2'  %>
  </p>

  <p>
    <b>Dato</b><br />
    <%= f.date_select :date %>
  </p>

  <p>
    <%= f.submit "[Opret]" %>
  </p>
<% end %>

<%= link_to '[Tilbage]', hours_path %>

</div>
