<%= render :partial => "layouts/menu" %>
<div id="admin_formular">
	
<% form_for(@relation) do |f| %>
	
<h1>Redigering af relation
	<%= f.submit "[Opdatér]", :class => 'button'%>
	<%= f.submit "[Opret]", :class => 'button'%>
	<%= link_to '[Tilbage]', relations_path %>
	</h1>

<%= error_messages_for :relation %>
<div class="dropdowns">
<p class="drop_down_1">
    <b>Kategori</b><br />
    <%#	= f.text_field :category %>
	<%= f.select (:category, [	
								['Samarbejdspartner', 'Samarbejdspartner'],
								['Kunde', 'Kunde'], 
								['Emne', 'Emne'],
								['Kontakt', 'Kontakt'],
								['Leverandør', 'Leverandør'],
								['X-kunde', 'X-kunde']
								], { :include_blank => true}) %>
  </p>
<br />
  <p class="drop_down_2">
    <b>Ansvarlig</b><br />
    <%#= f.text_field :responsible %>
<%= f.select (:responsible, [	['ALLE', 'ALLE'],
								['JSH', 'JSH'], 
								['MKS', 'MKS'],
								['TKS', 'TKS']
								], { :include_blank => true} ) %>
  </p>
</div>
<div class="date_and_time">
<p class="date">
    <b>Næste kontakt</b><br />
<%= f.date_text_field :next_action, :blank => true, :order => [:day, :month, :year ] %>
  </p>

<br />
<p class="time">
	<b>Tid</b><br />
<%= f.time_text_field :next_action, :blank => true %>

  </p>
</div>
<div class="text_fields">
  <p>
    <b>Firma</b><br />
    <%= f.text_field :company %>
  </p>

  <p>
    <b>Adresse</b><br />
    <%= f.text_field :address %>
  </p>

  <p>
    <b>Postnr./By</b><br />
    <%= f.text_field :postno, :size => 5 %> <%= f.text_field :city, :size => 21 %>
  </p>

  <!-- <p>
      <b>By</b><br />
      <%#= f.text_field :city %>
    </p> -->


<p>
    <b>Kontakt information</b><br />
    <%= f.text_area :phone, :size => ('60x8') %>
  </p>

  <p>
    <b>Log</b><br />
    <%= f.text_area :log, :size => ('60x8') %>
  </p>

  <p>
    <%= f.submit "Opdater" %>
  </p>
</div>
<% end %>

<%#= link_to 'Show', @relation %>
<%#= link_to 'Back', relations_path %>
</div>