<% form_for(@post) do |f| %>
<h1>Redigering af post i bloggen
	<%= f.submit "[Opdater]", :class => 'button' %>
	<%= link_to '[Vis]', @post %>
	<%= link_to '[Tilbage]', bloggen_path %>
	
	</h1>

<%= error_messages_for :post %>

  <p>
    <b>Title</b><br />
    <%= f.text_field :title %>
  </p>

  <p>
    <b>Body</b><br />
    <%= f.text_area :body, :size => '70x18' %>
  </p>
  
<% end %>





