
  <tr>
	<% form_for(@assetables) do |f| %>
    <td class='pos'><%= User.find(asset_line.user_id).blogname rescue nil %><%= f.hidden_field(:user_id, :value => current_user.id) %>
	</td>
    <td><%= f.text_field :description, :size => '30', :class => 'felter' %></td>
    <td><%= f.text_field :number, :size => '3', :class => 'center'%></td>
    <td><%= f.date_text_field :date, :order => [:day, :month, :year ] %></td>
    <td><%= f.submit "[Opdater]", :class => 'button' %><%#= link_to '[Tilbage]', hours_path %></td>
	<% end %>  
</tr>
