<%#= render :partial => "layouts/menu" %>
<div id="admin_formular">
	
<h1>Kommentar til: <%= @post_title %></h1>

<%= error_messages_for :post %>

<% form_for(@post) do |f| %>
<%= f.hidden_field(:parent_id, :value => @post_id) %>
<%= f.hidden_field(:user_id, :value => current_user.id) %>  

<p>
    <b>Overskrift</b><br />
    <%= f.text_field :title %>
  </p>

  <p>
    <b>Indhold</b><br />
    <%= f.text_area :body %>
  </p>

  <!-- <p>
      <b>Forfatter</b><br />
      <%#= f.text_field :author %>
    </p> -->

  <p>
    <%= f.submit "[Opret]"%>
  </p>

<p>

  </p>

<% end %>

<%= link_to '[Tilbage]', posts_path %>

</div>