<h1>Velkommen til bloggen <%= link_to '[Nyt indlæg]', new_post_path %> <%= link_to '[Miniblog]', miniblog_path %></h1>

<% for post in @posts %>
<div class="wrapper">
		
<div class="blogpost">
	
	<div class="topline">
	<span class="title">
	<%#=h post.id %><%= post.title %><%#=h truncate(post.title, length = 35, truncate_string = "...") %></span> - <span class="author"><%=h User.find(post.user_id).blogname %></span> - <span class="date_time"><%=h post.created_at.strftime("%d.%m.%y - (%H:%M)") %></span>

	<span class="link">
	<% if current_user.id == post.user_id %>
	<%= link_to '[Ret]', edit_post_path(post) %>
	<%= link_to '[Slet]', post, :confirm => 'Er du sikker?', :method => :delete %>
	<% end %>
	<%= link_to '[Kommentér]', :action => 'new_comment', :id => post.id %></span>
	
	</div>
	
	
	<div class="body"><%= textilize(post.body) %><%#= truncate(textilize(post.body), length = 90, truncate_string = "...") %></div>
	<div class="bottomline">
	<% @comments = Post.find(post.id).children.count %>	
	<% if @comments > 0 %>
		<span class="title">Kommentarer <%= @comments %></span>
		<span class="link">
		<% if session[:post_disclose].to_i == post.id %>
			<%= link_to '[Luk]', :action => 'no_comments', :id => post.id %></span>
		<% elsif session[:post_close].to_i == post.id %>
			<%= link_to '[Se]', :action => 'list_comments', :id => post.id %></span>
		<% else %>
			<%= link_to '[Se]', :action => 'list_comments', :id => post.id %></span>
		<% end %>
	<% else %>	
		<span class="title">Ingen kommentarer</span>
	<% end %>
	
	</div>
	
	<% if post.id == session[:post_id].to_i %>
		<% unless post.children.empty? %>
			<% @sub = post.children %>
			<div class="backline"></div>
		<% end %>
	<% end %>
	</div> <!-- Blogpost -->
	
</div> <!-- Wrapper -->
	
		<% if post.id == session[:post_id].to_i %>
		
			<% unless @sub = post.children.empty? %>
				<% @sub = post.children %>
				<% @counter = 0 %>
			
				<% for comment in @sub %>
					<% @counter = @counter+1 %>
					<div class="comment">
			
						<div class="topline">
					
						<span class="title"><%#=h comment.id %><%= comment.title %><%#=h truncate(comment.title, length = 35, truncate_string = "...") %></span>
						 - <span class="author"><%=h User.find(comment.user_id).blogname %></span>
						 - <span class="date_time"><%=h comment.created_at.strftime("%d.%m.%y - (%H:%M)") %></span>
						<span class="link">  
						<% if current_user.id == comment.user_id %>
						<%= link_to '[Ret]', edit_post_path(comment) %>
						<%= link_to '[Slet]', comment, :confirm => 'Er du sikker?', :method => :delete %>
						<% end %>
						</span>
						</div>

						<div class="body"><%= textilize(comment.body) %></div>
			
						<% if @counter < @comments %><div class="backline"></div><% end %>
			
						</div>

				<% end %>
			
			<% end %>
		
		<% end %>
	
<% end %>

<span class='pagination_info'><%#= page_entries_info @posts %><%= will_paginate @posts %></span>