<%= render :partial => "layouts/menu" %>
<div id="admin_liste">
<h1>Brugerliste <%= link_to '[Ny bruger]', new_user_path %></h1>

<table border="0" cellspacing="0" cellpadding="3">
  <tr>
	<th>ID</th>
	<th>Blogname</th>
    <th>Login</th>
    <th>e-mail</th>
	<th>Category</th>
	<!-- <th>Admin</th>
		<th>Active</th>
		<th>Admin</th> -->
	<th>Handling</th>
  </tr>

<% for user in @users %>
  <tr>
	<td width=100px><%=h user.id %></td>
	<td width=100px><%=h user.blogname %></td>
    <td width=100px><%=h user.login %></td>
    <td width=200px><%=h user.email %></td>
	<td class="pos"><%=link_to user.category, :action => 'category', :id => user.id rescue nil%></td> <%# access findes i application.rb %>
	<!-- <td width=40px><%#=h user.admin %></td>
		<td width=40px><%#=h user.active %></td>
		<%# 	if user.admin 
				@aktiv = '√' 
			else 
				@aktiv = '–' 
			end %>
		<td class="pos"><%#=link_to @aktiv, :action => 'admin', :id => user.id%></td>
	     -->
	<td width=150px>
	<%= link_to '[Vis]', user %>
	<%= link_to '[Ret]', edit_user_path(user) %>
    <%= link_to '[Slet]', user, :confirm => "Er du sikker at du vil slette brugeren: '#{user.login}'?", :method => :delete %>
	</td>
  </tr>

<% end %>

</table>

<br />


</div>