<%= render :partial => "layouts/menu" %>
<div id="admin_liste">

<h1>Listing attachments</h1>

<table>
  <tr>
    <th>Attachable type</th>
    <th>Attachable</th>
    <th>Description</th>
    <th>Image size</th>
    <th>Priority</th>
    <th>Asset</th>
	<th>Handling</th>
  </tr>

<% for attachment in @attachments %>
  <tr>
    <td><%=h attachment.attachable_type %></td>
    <td><%=h attachment.attachable_id %></td>
    <td><%=h attachment.description %></td>
    <td><%=h attachment.image_size %></td>
    <td><%=h attachment.priority %></td>
    <td><%=h attachment.asset_id %></td>
    <td><%= link_to '[Vis]', attachment %>
		<%= link_to '[Ret]', edit_attachment_path(attachment) %>
		<%= link_to '[Slet]', attachment, :confirm => 'Er du sikker?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New attachment', new_attachment_path %>

</div>
