<%= render :partial => "layouts/menu" %>
<div id="admin_formular">


<%= error_messages_for :page %>

<% form_for(@page) do |f| %>
<h1>Redigering af indholdssider
	<%= f.submit "[Opdater]", :class => 'button'%>
	<%= link_to '[Vis]', @page %>
	<%= link_to '[Tilbage]', pages_path %>
</h1>

<p>
    <b>Aktiv</b>
	<%= f.check_box :active %>
	<br />  
  </p>
<p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <b>Title</b><br />
    <%= f.text_field :title %>
  </p>
  <p>
	<b>Headline</b><br />
    <%= f.text_field :headline %>
  </p>
  <p>
    <b>Body</b><br />
    <%= f.text_area :body, :size => '70x20' %>
  </p>

<p>
    <b>Image</b><br />
    <%= f.text_field :image %>
  </p>

<p>
    <b>Image_Class</b><br />
    <%= f.text_field :image_class %>
  </p>

  
<% end %>
</div>