<%= render :partial => "layouts/menu" %>
<div id="admin_formular">	
<h1>Ny upload</h1>
<% form_for @asset, :html => { :multipart => true } do |f| %>
<%= f.hidden_field(:user_id, :value => current_user.id) %>
  <%= f.error_messages %>

  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>

	<p>
    <b>Upload</b><br />
    <%= f.file_field :photo %>
  </p>

  <p>
    <%= f.submit "[Opret]", :class => 'button' %>
  </p>

<% end %>

<%#= link_to 'Back', assets_path %>


</div>