<%= render :partial => "layouts/menu" %>
<div id="admin_liste">
	
<h1>Listing posts <%= link_to '[Nyt indlæg]', new_post_path %></h1>

<table>
  <tr>
	<th class='pos'>ID</th>
	<th class='pos'><< ID</th>
	<th class='pos'>User ID</th>
    <th>Titel</th>
    <th>Indhold</th>
    <th>Forfat.</th>
    <!-- <th>Prio.</th> -->
	<th>Handling</th>
  </tr>

<% for post in @posts %>
  <tr>
	<td class='pos'><%=h post.id %></td>
	<td class='pos'><%=h post.parent_id rescue nil %></td>
	<td class="pos"><%=h post.user_id rescue nil%></td>
    <td><%=h post.title %></td>
    <td><%=h truncate(post.body, length = 60, truncate_string = "...") %></td>
    <td class="pos"><%=h User.find(post.user_id).blogname %></td>
    <!-- <td class="pos"><%=h post.priority %></td> -->
    <!-- <td><%#= link_to 'Vis', post %></td> -->
    <td><%= link_to '[Ret]', edit_post_path(post) %><%= link_to '[Slet]', post, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

</div>