<%= render :partial => "layouts/menu" %>
<div id="admin_formular">


<%= error_messages_for :product %>

<% form_for(@product) do |f| %>

<h1>Redigering af produkter
    <%= f.submit "[Opdater]", :class => 'button'%>
	<%= link_to '[Vis]', @product %>
	<%= link_to '[Tilbage]', products_path %>
</h1>

<p>
    <b>Aktiv</b><br />
    <%= f.check_box :active %>
  </p>
<p>
    <label for="name" class = 'ov'>Navn</label><br />
    <%= f.text_field :name %>
  </p>

 <p>
    <label for="title" class = 'ov'>Titel</label><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <label for="headline" class = 'ov'>Overskrift</label><br />
    <%= f.text_field :headline %>
  </p>

  <p>
    <label for="description" class = 'ov'>Beskrivelse</label><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <label for="image" class = 'ov'>Grafik</label><br />
    <%= f.text_field :image %>
  </p>

<p>
    <label for="image_class" class = 'ov'>Image_Class</label><br />
    <%= f.text_field :image_class %>
  </p>

  <p>
    <label for="kind" class = 'ov'>Type</label><br />
    <%= f.text_field :kind %>
  </p>

  <p>
    <label for="cost_price" class = 'ov'>Kostpris</label><br />
    <%= f.text_field :cost_price %>
  </p>

  <p>
    <label for="sales_price" class = 'ov'>Salgspris</label><br />
    <%= f.text_field :sales_price %>
  </p>

  <p>
    <label for="purchase_quantity" class = 'ov'>Købsmængde</label><br />
    <%= f.text_field :purchase_quantity %>
  </p>

  <p>
    <label for="stock_in" class = 'ov'>Lager ind</label><br />
    <%= f.text_field :stock_in %>
  </p>

  <p>
    <label for="stock_out" class = 'ov'>Lager ud</label><br />
    <%= f.text_field :stock_out %>
  </p>

  <p>
    <label for="stock" class = 'ov'>Lager</label><br />
    <%= f.text_field :stock %>
  </p>

  
<% end %>
</div>