<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />

<link href="../images/mini.gif" rel="shortcut icon"/>

<title><%= @pagetitle rescue nil %></title>

<%= stylesheet_link_tag 'kruby_blog', 'kruby_viewer' %>
<%= javascript_include_tag :defaults %>
<%= javascript_include_tag 'drop_down' %>
</head>

<body>
	
<div id='wrapper_main'>
	
<%= yield%>

</div>

</body>

</html>