<!-- partial der bruges af application.html.erb -->
<!-- <img class="top_foto" src="images/top.jpg" /> -->
<div class="top_foto"><%= image_tag "top.jpg" %></div>
<div id="menu_top">
	
	<% if flash[:notice] -%> 
	<span class="flash_menu"><%= '[' + flash[:notice] + ']' %></span>
	<%else%>
	<div class="rub_top">De sundeste sydhavsfrugter er netop kommet i land!</div>
	<% end -%>

</div>
<div id="menu_left">
<ul id='nav'> <!-- Denne id er vigtig, da den ligger i javascriptet -->
<% @tabs.each do |page| -%> <!-- @tabs kommer fra application.rb -->

	<% if page.admin == TRUE # and Menu.find(page.id).category == current_user.category %>
		<li class="admin_navlabel">
		<%= link_to page.navlabel, {:controller => page.controller_name, :action => 'index'} %> <!-- Alle admin sider ledes videre til deres index i views -->
		</li>
	<% else %>
		<li><%= link_to page.navlabel, {:controller => 'viewer', :name => page.navlabel.downcase, :action => 'show'} %>
		<%#= link_to page.navlabel, {:controller => page.controller_name, :action => 'show', :id => page.resource_id} %>
		<% @c = page.children %>
			<% unless @c.empty? %>
				<ul>
					 <!-- Her niveau 2 i menuen -->
						<% @c.each do |c_menu| -%>
						<% if c_menu.active %>
							<li><%= link_to c_menu.navlabel, {:controller => c_menu.controller_name, :action => 'show', :id => c_menu.resource_id} %>
								<% end %>
								<!-- Her niveau 3 i menuen. Der virker endnu ikke i CSS delen-->
								<%# @cc = c_menu.children %>
									<%# unless @cc.empty? %>
										<!-- <ul> -->
												<%# @cc.each do |cc_menu| -%>
													<!-- <li><%#= link_to cc_menu.navlabel, {:controller => page.controller_name, :action => 'show', :id => page.resource_id} %></li> -->
												<%# end %>
										<!-- </ul> -->
									<%# end %>			
								</li>		
						<% end %>
				</ul>
			<% end %>	
		</li>
	<% end %> 
<% end -%>
<!-- <li class="admin_navlabel">
	<%# if logged_in? %>
	<%#= link_to 'Log ud', logout_path %>
	<%# else %>
	<%#= link_to 'Log ind', login_path %>
	<%# end %>
</li> -->

<li class="admin_navlabel">
	<% if logged_in? %>
	<%= link_to 'Log ud', logout_path %>
	<% end %>
</li>
<li id="box_left"></li>
</ul></div>
