<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
<script type="text/javascript" src="http://gettopup.com/releases/latest/top_up-min.js"></script>
<script type="text/javascript" src="top_up-min.js"></script>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<link href="/images/mini.gif" rel="shortcut icon"/>
<title><%= @pagetitle rescue nil %></title>
<%#= stylesheet_link_tag 'kruby_adm' %>
<%#= stylesheet_link_tag 'kruby_tabeller' %>
<%#= javascript_include_tag 'top_up-min.js' %>
<%= javascript_include_tag 'jquery.js' %>
<%= javascript_include_tag :defaults %>
<%= javascript_include_tag 'drop_down' %>

<%#= javascript_include_tag "flashobject" %>
<%= javascript_include_tag 'swfobject' %>

</head>

<body>
  <div id="description">
    <h2>TopUp preset</h2>
    <p>
      Specifying a TopUp preset is just like specifying style attributes to a CSS selector in your stylesheet.
      The great advantage of using presets is that it provides you to keep your HTML <strong>entirely(!)</strong> clean.
    </p>
    <p>
      Just call <code>TopUp.addPresets()</code> with a hash as parameter.<br>
      The key of each entry has to be a CSS selector and the value has to be a hash of toptions.
    </p>
    <p>
      So for grouping links, just specify <code>group: [name]</code> in the preset.
    </p>
  </div>
  <h2>Demo</h2>
  <div id="demo">
    <div id="examples">
      <a href="photos/by-ben-adamson.jpg"><img src="thumbnails/by-ben-adamson.jpg"/></a>
      <a href="photos/2.jpg"><img src="thumbnails/2.jpg"/></a>
      <a href="photos/3.jpg"><img src="thumbnails/3.jpg"/></a>
      <a href="http://movies.apple.com/movies/wb/the_dark_knight/the_dark_knight-tlr2-h.ref.mov" toptions="width = 480, height = 220, title = The Dark Knight, layout = quicklook"><img src="thumbnails/quicktime.jpg"/></a>
      <a href="http://www.youtube.com/v/pv8j1-IcnUE&hl=nl&fs=1&rel=0&hd=1&autoplay=1" toptions="width = 853, height = 505, type = flash, title = Beastie Boys - Sabotage"><img src="thumbnails/youtube.jpg"/></a>
    </div>
    <script type="text/javascript">
      TopUp.addPresets({
        "#examples a": {
          group: "examples",
          shaded: 1
        }
      });
    </script>
  </div>
  </body>
</html>